@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
ol,
ul,
dl,
fieldset,
pre {
    margin: 0;
}

a:hover {
    text-decoration: none;
}

body {
    background: linear-gradient(0deg, #0E0E0E 0%, #0E0E0E 100%), #FFF;
}

/* navbar css----------------------------------------------------------------start */
nav {
    position: sticky;
    top: 0;
    z-index: 100;
}

.full-header {
    width: 100%;
    display: flex;
    position: sticky;
    padding: 16px 50px 15px 55px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    background: rgba(14, 14, 14, 0.96);
    backdrop-filter: blur(10px);
    z-index: 15;
}

.navbar-inner-wrapper {
    display: flex;
    text-align: center;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
}

.navbar-logo-dev {
    width: 240px;
    height: 32px;

}

.navbar-logo-dev img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.navbar-link-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;

}

.navbar-link-list {
    display: flex;
    align-items: center;
    gap: 48px;
    list-style: none;
}

.contralnavlink {
    color: #FFF;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.contralnavlink:hover {}

.navbar-link-list li {
    opacity: 0.5;
    background: var(--Blackish-0E, #0E0E0E);
}


.blackbtn {
    display: flex;
    border: 1.5px solid rgba(203, 33, 35, 0.60);
    padding: 10px 24px 9px 24px;
    justify-content: center;
    align-items: center;
    color: var(--White, #FFF);
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: fit-content;

}

.blackbtn:hover {
    background: var(--Red, #CB2123);
    color: var(--White, #FFF);
}

.whitebtn {
    color: var(--White, #FFF);
    text-align: center;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
    display: flex;
    padding: 14px 28px 15px 27px;
    justify-content: center;
    align-items: center;
    border: 1.5px solid rgba(245, 245, 243, 0.30);
    width: fit-content;
}

.whitebtn:hover {
    background: var(--Red, #CB2123);
    color: var(--White, #FFF);
}

.navbar-search-section {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 28px;
    opacity: 0.5;
    background: var(--Blackish-0E, #0E0E0E);
}

.header-search {
    width: 20px;
    height: 20px;
    padding: 1px;
}

.header-search img {
    width: 100%;
    height: 100%;
}

.header-tilly img {
    width: 20px;
    height: 12.5px;
    margin-left: 4px;
}

/* navbar end---------------------------------------------------------------------- */
/* hero section-------------------------------------------------- */
.hero-section {
    position: relative;
    padding-top: 48%;
    min-height: 450px;
    background: radial-gradient(60% 120% at 50% 100%, rgba(18, 35, 58, 0.90) 0%, rgba(18, 35, 58, 0.00) 65%), radial-gradient(40% 80% at 70% 10%, rgba(22, 40, 70, 0.50) 0%, rgba(22, 40, 70, 0.00) 60%);
}

.hero-video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-section::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #0E0E0E 0%, rgba(14, 14, 14, 0.00) 100%);
}

.hero-textcontent {
    position: absolute;
    left: 56px;
    bottom: 120px;
    max-width: 509px;
    z-index: 2;
}

.h4heading {
    color: var(--White, #FFF);
    font-family: "DM Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    opacity: 0.6;
}

.h1heading {
    color: var(--White, #FFF);
    font-family: "Epilogue", sans-serif;
    font-size: 120px;
    font-style: italic;
    font-weight: 900;
    line-height: 83%;
    letter-spacing: -2.32px;
    text-transform: uppercase;
}

.h1span {
    color: var(--White, rgba(255, 255, 255, 0.48));
    font-family: "Epilogue", sans-serif;
    font-style: italic;
    font-weight: 900;
    line-height: 100px;
    letter-spacing: -2.32px;
    text-transform: uppercase;
}

.para {
    color: var(--White, #FFF);
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    /* 150% */
    opacity: 0.6;
}

.hero-nobtn {
    color: var(--White, #FFF);
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
    background-color: transparent;
    border: none;
}

.hero-btn {
    display: flex;
    gap: 40px;
    margin-top: 48px;
}

/* our brand section start----------------------------------------------------- */
.brand-wrapper {
    position: relative;
    padding-top: 70%;

}

.brand-wrapper::after {
    position: absolute;
    content: "";
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;

    background: linear-gradient(0deg, rgba(14, 14, 14, 0.92) 0%, rgba(14, 14, 14, 0.10) 55%, rgba(14, 14, 14, 0.00) 100%);
}

.brand-wrapper-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.brand-textcontent {
    position: absolute;
    left: 55px;
    bottom: 68px;
    z-index: 2;
    max-width: 400px;

}

.brand-icon-dev {
    width: 302px;
    height: 32px;
    margin: 40px 0;
}

.brand-icon-dev img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.under-line {

    padding-bottom: 7px;
    border-bottom: 1px solid var(--White, #FFF);
    opacity: 0.4;
}

.barletta-icon-dev {
    width: 214px;
    height: 64px;
    margin: 28px 0;
}

/* boat-inventery section --------------------------------------------------------- */
.boat-inventery {
    padding: 102px 55px 72px 56px;
}

.h2heading {
    color: var(--White, #FFF);
    font-family: "Epilogue", ;
    font-size: 64px;
    font-style: italic;
    font-weight: 900;
    line-height: 60px;
    /* 93.75% */
    letter-spacing: -2px;
    text-transform: uppercase;
}

.h2span {
    color: rgba(255, 255, 255, 0.40);
      font-family: "Epilogue", ;
    font-size: 64px;
    font-style: italic;
    font-weight: 900;
    line-height: 60px;
    /* 93.75% */
    letter-spacing: -2px;
    text-transform: uppercase;
}

.boats-inventery-links-dev {
    width: 100%;
    text-align: end;
    list-style: none;
    display: flex;
    height: 34px;
    margin-bottom: 65px;
    justify-content: flex-end;
    align-items: center;
}

.boats-inventery-links {
    border-top: 1.5px solid rgba(255, 255, 255, 0.40);
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.40);
    border-left: 1.5px solid rgba(255, 255, 255, 0.40);
    opacity: 0.4;
    background: var(--Blackish-0E, #0E0E0E);
    padding: 9px 20px 9px 24px;
}

.inventery-card-img-dev {
    position: relative;
    padding-top: 59%;

}

.inventery-card-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.inventery-card {
    background: var(--Blackish-14, #141414);
    border: 2px soild white;
}

.oncard {
    position: absolute;
    top: 16px;
    left: 16px;
}

.lisit-title {
    color: #F5F5F3;

    /* Listing Title */
    font-family: "Epilogue", sans-serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 900;
    line-height: 24px;
    /* 100% */
    text-transform: uppercase;
}

.lisit-span {
    color: #ff3b1f;
}

.inv-card-content {
    padding: 22px 26px 26px 24px;
    width: 100%;
    border: 0.5px solid white;
}

.h6heading {
    color: #F5F5F3;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.inv-bottom {
    margin-top: 52px;

}

/* <!-- complementry section ----------------------------------------------------------------- --> */
.complementry-top-wrapper {
    padding: 34px 40px;
    border-right: 1px solid rgba(255, 255, 255, 0.08);
}

.complementry-top-content {
    display: flex;
    justify-content: space-between;
}

/* slider section ---------------------------------------------------------------- */
.slider-wrapper {
    position: relative;
    padding-top: 33%;
}

.slider-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.slider-content {
    position: absolute;
    left: 56px;
    bottom: 80px;

}

.slider-icon {

    max-width: 300px;
    max-height: 217px;
}

.slider-icon img {
    width: 100%;
    height: 100%;
}

/* ful service section -------------------------------------------- */
.full-service {
    margin: 100px 0;
}

.full-service-head {
    max-width: 600px;
    text-align: center;
}

/* test drive section ------------------------------------------------------ */
.text-drive {
    margin: 115px 0;
}

.test-drive-img-wrapper {
    position: relative;
    padding-top: 97%;
}

.test-drive-img-wrapper img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.test-drive-content-wrapper {
    background: var(--Blackish-1A, #1A1A1A);
    width: 100%;
    height: 100%;
    display: flex;

}

.test-drive-content {
    margin: auto 72px;
}

.redbtn {
    display: flex;
    border: 1.5px solid rgba(203, 33, 35, 0.60);
    padding: 10px 500px 9px 37px;
    justify-content: center;
    align-items: center;
    color: var(--White, #FFF);
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    background-color: #CB2123;
}

/* test drive section ------------------------------------------------------ */


/* premium section--------------------------------------------------------------------- */

.about-section {
    position: relative;
    padding: 0 0 120px 0;
    background: #0b0b0b url('../images/home/primum\ background.jpg') center bottom/cover no-repeat;

    overflow: hidden;
}

.about-section .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
}

.about-section .container {
    position: relative;
    z-index: 2;
}

.showroom-image img {
    width: 100%;
    display: block;
}

.main-title {
    font-size: 64px;
    line-height: 0.95;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-style: italic;
}

.main-title span {
    color: #6c6c6c;
}

.intro-text {
    color: #cfcfcf;
    font-size: 14px;
    line-height: 1.8;
    max-width: 450px;
    margin-bottom: 30px;
}

.divider {
    width: 180px;
    border-top: 1px solid rgba(255, 255, 255, .2);
    margin: 30px 0;
}

.info-block {
    margin-bottom: 40px;
}

.info-block h4 {
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    font-style: italic;
    margin-bottom: 15px;
    color: #fff;
}

.info-block h4 span {
    color: #ff3b1f;
}

.info-block p {
    color: #bcbcbc;
    font-size: 14px;
    line-height: 1.8;
}

.btn-outline-light {
    border: 1px solid rgba(255, 255, 255, .4);
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn-outline-light:hover {
    background: #fff;
    color: #000;
}

.left-wrapper {
    transform: translateY(-100px);
}

/* RIGHT SIDE */
.content-wrapper {
    padding-left: 40px;
}


.left-wrapper {
    transform: translateY(-100px);
}

/* loopsection =---------------------------start */
.loop-section {
    padding: 86px 59px 86px 56px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    background: var(--Blackish-14, #141414);
}

.loop-input-content {
    display: flex;
    max-width: 550px;
    height: 54px;
    border: 1px solid #4a4a4a;
    overflow: hidden;
}

.loop-input {
    display: flex;
    justify-content: space-between;
    margin: 24px 0;
}

.loop-email {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 0 25px;
    color: #fff;
    font-size: 18px;
}

.loop-email::placeholder {
    color: #9a9a9a;
}

.subscribe-btn {
    width: 170px;
    background: transparent;
    border: none;
    border-left: 1px solid #4a4a4a;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.subscribe-btn:hover {
    background: rgba(255, 255, 255, 0.05);
}

.loop-para {
    color: rgba(245, 245, 243, 0.55);
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 23.8px;
    /* 170% */
}

/* footer section --------------------------------------------------------------------------------- */
.footer {
    padding: 80px 56px 75px 56px;
    border-top: 1px solid rgba(255, 255, 255, 0.07);
    background: var(--Blackish-14, #141414);
}

.footer-para {
    margin: 40px 0;
    max-width: 320px;
}

.footerlink {
    color: var(--White, #FFF);

    /* Link 1 */
    font-family: "DM Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
    list-style: none;

}

.footer-ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* footer section --------------------------------------------------------------------------------- */
/* service page css start from here ----------------------------------------- */
.hero-service {
    max-width: 538px;
}

#service-inven {
    margin: 64px 0;
    padding: 20px 0;
    border: 1.5px solid rgba(255, 255, 255, 0.08);
}

.certif-service {
    position: relative;
    padding-top: 33%;
}

.certif-service img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.certif-service-short {
    padding-top: 66%;
}

/* every service section -------------------------------------------------------------- */
.h5heading {
    color: var(--White, #FFF);
    font-family: "Epilogue", sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    line-height: 22.36px;
    /* 159.714% */
    letter-spacing: 1.3px;
    opacity: 0.4;
}

.every-service-card {
    border: 2px solid #141414;
    padding: 42px 0 31px 36px;
}

#every-service-bottom {
    margin-top: 55px;
}

.h3heading {
    color: var(--White, #FFF);
    font-family: "Epilogue", sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 900;
    line-height: 48px;
    /* 120% */
    text-transform: uppercase;
    opacity: 0.16;
}

/* schedule section -------------------------------------------------------------------- */
body {
    background: #111;
    color: #fff;
    font-family: 'Barlow', sans-serif;
}

.service-section {
    min-height: 100vh;
}

/* LEFT SIDE */

.service-image {
    position: relative;
    min-height: 100vh;
    background: url('../images/service/service.png') center center/cover no-repeat;
}

.overlay {
    position: absolute;
    inset: 0;
    background:
        linear-gradient(to right,
            rgba(0, 0, 0, .45),
            rgba(0, 0, 0, .65));
}

.service-content {
    position: absolute;
    left: 50px;
    bottom: 40px;
    z-index: 2;
    max-width: 430px;
}

.service-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.service-list li {
    position: relative;
    padding: 12px 0 12px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, .08);
}

.service-list li:before {
    content: "";
    width: 4px;
    height: 4px;
    background: #d92d27;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 20px;
}

/* RIGHT SIDE */

.service-form-wrap {
    background: #1b1b1b;
    display: flex;
    align-items: center;
}

.form-container label {
    color: #777;
    font-size: 10px;
    letter-spacing: 1.5px;
    margin-bottom: 6px;
}

.form-control {
    height: 44px;
    background: #252525;
    border: 1px solid #2f2f2f;
    border-radius: 0;
    color: #fff;
}

.form-control:focus {
    background: #252525;
    border-color: #444;
    box-shadow: none;
    color: #fff;
}

textarea.form-control {
    height: 90px;
    resize: none;
}

.form-control::placeholder {
    color: #7c7c7c;
}

.submit-btn {
    background: #d92d27;
    color: #fff;
    border: none;
    padding: 14px 35px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .3s;
}

.submit-btn:hover {
    background: #f03731;
}

.note {
    color: #666;
    font-size: 11px;
    margin-bottom: 0;
    line-height: 1.7;
}

/* FAQ section ------------------------------------------------------ */
body {
    background: #000;
    margin: 0;
    font-family: Arial, sans-serif;
}

.faq-section {
    padding: 50px 0;
}

.faq-item {
    border-bottom: 1px solid #1c1c1c;
}

.faq-btn {
    width: 100%;

    background: transparent;

    border: none;

    outline: none;

    color: #fff;

    display: flex;

    justify-content: space-between;

    align-items: center;

    text-align: left;

    padding: 18px 0;

    font-size: 11px;

    font-weight: 700;

    letter-spacing: 1px;

    cursor: pointer;
}

.faq-btn:hover {
    color: #fff;
}

.faq-btn:focus {
    outline: none;
}

.faq-icon {

    width: 18px;

    height: 18px;

    border: 1px solid #4a4a4a;

    display: flex;

    justify-content: center;

    align-items: center;

    font-size: 12px;

    flex-shrink: 0;
}

.faq-content {

    color: #bdbdbd;

    font-size: 14px;

    padding: 0 0 20px 0;

    line-height: 1.7;
}

.faq-btn[aria-expanded="true"] .faq-icon {

    transform: rotate(45deg);

    transition: .3s;
}

.faq-icon {
    transition: .3s;
}


/* Responsive */

@media(max-width:768px) {

    .faq-btn {

        font-size: 9px;

        padding: 16px 0;
    }

    .faq-icon {

        width: 16px;

        height: 16px;

        font-size: 11px;
    }

    .faq-content {

        font-size: 13px;
    }

}

@media(max-width:576px) {

    .faq-btn {

        font-size: 8px;

        letter-spacing: .5px;
    }

}

/* storage page ------------------------------------------------------------------ */
.storagespan {
    border: 4px solid rgba(255, 255, 255, 0.13);
    width: fit-content;
    padding: 18.5px 24px 17.5px 25px;
}

.clock-para {
    color: var(--White, #FFF);
    text-align: center;
    font-family: "DM Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 21.84px;
    /* 168% */
    opacity: 0.6;
    max-width: 380px;
}

.clock-dev {
    max-width: 44px;
    max-height: 44px;
}

.clock-dev img {
    width: 100%;
    height: 100%;
}

#clock-section {
    border-top: 1px solid rgba(255, 255, 255, 0.08);

}

#clock-card {
    border-right: 1px solid rgba(255, 255, 255, 0.08);
    padding: 34px 0;
}

.certif-service-text {
    position: absolute;
    bottom: 24px;
    left: 40px;
    z-index: 10;
}

.pic-overlay {
    position: relative;
}

.pic-overlay::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    background: linear-gradient(209deg, rgba(14, 14, 14, 0.00) 17.96%, #0E0E0E 100.76%);

}

.first-come:before {
    content: "";
    width: 4px;
    height: 4px;
    background: #d92d27;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: 5px;
}

.car-img-wapper {
    position: relative;
    padding-top: 33%;
}

.car-img-wapper img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.car-img-content{
    position: absolute;
    left: 56px;
    bottom: 80px;
}
/* pro shop page ---------------------------------------------------------------------- */
.need-section{
    padding: 48px 56px 80px 56px;
}
.side-line-ages{
    position: relative;
}
.side-line-ages::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 53px;
    left: 0;
    top: 0;
    border-left: 1px solid var(--Red, #CB2123);
}
.word-class-link{
    display: flex;

padding: 18px 26.8px 18.64px 27px;
justify-content: center;
align-items: center;
border-radius: 2px;
border: 1px solid rgba(255, 255, 255, 0.08);
background: var(--Blackish-1A, #1A1A1A);
color: #E8E8EA;
font-family: "Anton";;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 34.65px; /* 165% */
}
.locations-section{

    background:#050505;

    padding:80px 0;

}


/* Red Banner */

.promo-banner{

    background:#d81717;

    min-height:80px;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:0 30px;

}

.visit-btn{

    width:80px;

    height:30px;

    background:#fff;

    color:#d81717;

    display:flex;

    justify-content:center;

    align-items:center;

    text-decoration:none;

    font-size:10px;

    font-weight:700;

}

.visit-btn:hover{

    color:#d81717;

    text-decoration:none;

}





.section-title{

    color:#fff;

    font-size:64px;

    font-weight:900;

    line-height:.9;

    font-style:italic;

    text-transform:uppercase;

    margin-top:10px;

}


.section-title span{

    display:block;

    color:#666;

}


/* Cards */

.location-card{

    background:#121212;

    padding:30px;

    min-height:180px;

}


.location-card h4{

    color:#fff;

    font-size:28px;

    font-weight:900;

    margin-bottom:20px;

}


.location-card p{

    color:#fff;

    font-size:14px;

    margin-bottom:20px;

}


.location-card a{

    color:#d81717;

    text-decoration:none;

    font-size:12px;

    font-weight:700;

}


.location-card a:hover{

    color:#d81717;

}


/* Responsive */

@media(max-width:992px){

    .section-title{

        font-size:48px;

    }

}


@media(max-width:768px){

    .promo-banner{

        flex-direction:column;

        padding:20px;

        text-align:center;

    }

    .promo-banner h3{

        font-size:18px;

        margin-bottom:15px;

    }

    .section-title{

        font-size:40px;

    }

}


@media(max-width:576px){

    .section-title{

        font-size:32px;

    }

    .location-card h4{

        font-size:22px;

    }

}
/* mastercraf page css ----------------------------------------------------------------------------------------- */
.brand-logo{
    max-width:300px ;
    max-height:32px ;
}
.brand-logo img{
width: 100%;
height: 100%;
}
.series-guide{

    background:#090909;

    padding:80px 0;

}


/* Heading */

.section-label{

    color:#666;

    font-size:10px;

    letter-spacing:2px;

}


.section-title{

    color:#fff;

    font-size:62px;

    line-height:.9;

    font-weight:900;

    font-style:italic;

    text-transform:uppercase;

    margin-top:10px;

}


.section-title span{

    display:block;

    color:#7a7a7a;

}


/* Tabs */

.series-tabs{

    border-bottom:1px solid #1d1d1d;

    margin:40px 0;

}


.series-tabs .nav-link{

    color:#666;

    font-size:12px;

    padding:12px 20px;

}


.series-tabs .active{

    color:#fff;

    border-bottom:2px solid #d71920;

}


/* Image */

.series-image{

    margin-bottom:40px;

}


.series-image img{

    width:100%;

}


/* Left Content */

.flagship{

    display:inline-block;

    background:#d71920;

    color:#fff;

    font-size:10px;

    padding:4px 10px;

    margin-bottom:10px;

}


.left-content h3{

    color:#fff;

    font-size:60px;

    font-weight:900;

    font-style:italic;

    margin-bottom:15px;

}


.left-content h6{

    color:#666;

    font-size:11px;

    letter-spacing:2px;

    margin-bottom:20px;

}


.left-content p{

    color:#8a8a8a;

    line-height:1.8;

    font-size:14px;

}


/* Models */

.models{

    margin:30px 0;

}


.models button{

    background:#111;

    border:none;

    color:#fff;

    padding:10px 18px;

    margin-right:10px;

    font-weight:700;

}


/* Button */

.inventory-btn{

    display:inline-block;

    background:#d71920;

    color:#fff;

    padding:14px 30px;

    text-decoration:none;

}


.inventory-btn:hover{

    color:#fff;

    text-decoration:none;

}


/* Right */

.feature-box{

    border:1px solid #1d1d1d;

    padding:40px;

}


.feature-item{

    margin-bottom:35px;

}


.feature-item:last-child{

    margin-bottom:0;
}


.feature-item h5{

    color:#d71920;

    font-size:11px;

    letter-spacing:2px;

    margin-bottom:10px;

}


.feature-item p{

    color:#8a8a8a;

    font-size:14px;

}


/* Responsive */

@media(max-width:991px){

    .section-title{

        font-size:45px;

    }

    .left-content h3{

        font-size:42px;

    }

    .feature-box{

        margin-top:40px;

    }

}


@media(max-width:768px){

    .section-title{

        font-size:36px;

    }

    .left-content h3{

        font-size:34px;

    }

}